
<head>
  <title>About Me</title>
  <link rel="stylesheet" href="/stylesheets/about.css" />
  <!-- Add your Font Awesome link here -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ZzoxXl6My1YO6Iep81Q1tgFQfp+65z5BA3AR9S+K2C4qc0vqUvUA+6XDiHTtW7xj" crossorigin="anonymous">
</head>
<body>

  <div class="card">
    <div class="bg-primary card-item">
      <a href="https://github.com/rosemaria-0/COMP2068JSFrameworks" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="bg-success card-item">
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <div class="bg-info card-item">
      <a href="https://www.facebook.com/facebook/?_rdc=1&_rdr" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook"></i>
      </a>
    </div>

    <div class="bg-warning card-item">
      <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-google"></i>
      </a>
    </div>
  </div>

</body>

