
<link rel="stylesheet" href="/stylesheets/contact.css" />

<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Name</label>
    <input type="email" class="form-control" id="email" placeholder="Enter your name" name="email">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Subject</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter the reason for contacting me" name="pswd">
  </div>
  <div class="form-check mb-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="remember"> Remember me
    </label>
  </div>
<label for="comment">Message:</label>
<textarea class="form-control" rows="5" id="comment" name="text"></textarea>
 
  <button type="submit" class="btn btn-primary">Submit</button>
 </form>
