<h2>{{title}}</h2>

<p><i class="fa-solid fa-graduation-cap"> </i> Georgian College Student</p>
<p><i class="fa-solid fa-computer">  </i> Computer programming Course</p>
<p><i class="fa-solid fa-user-group"> </i> Friendly Nature</p>
<p><i class="fa-regular fa-lightbulb">  </i> Creative </p>

