

<h2>My Projects</h2>

 <link rel="stylesheet" href="/stylesheets/project.css" />

<div class="project-container">

    {{!-- Bootstrap class -- Cards --}}
  <div class="card">
    <img src="https://th.bing.com/th/id/R.a9557c91c2dd70bcac67938e0b384a2c?rik=cgi1jVIfUHfaOQ&riu=http%3a%2f%2fcliparts.co%2fcliparts%2f8iG%2fb5X%2f8iGb5XKbT.jpg&ehk=n7KZax1HQ%2by8bMtkU8XpmtpDOzR8ZBjsKScHEAWFC2M%3d&risl=&pid=ImgRaw&r=0" class="card-img-top mx-auto d-block" alt="Description of the image">
    <div class="card-body text-center">
      <h4 class="card-title">Quiz Application</h4>
      <p class="card-text">College Project</p>
      <a href="#" class="btn btn-primary">See More</a>
    </div>
  </div>

  <div class="card">
    <img src="https://thumbs.dreamstime.com/b/italian-pizza-icon-isolated-white-background-fast-food-menu-element-vector-illustration-italian-pizza-isolated-vector-icon-104731184.jpg" class="card-img-top mx-auto d-block" alt="Description of the image">
    <div class="card-body text-center">
      <h4 class="card-title">Pizza Website</h4>
      <p class="card-text">College Project</p>
      <a href="#" class="btn btn-primary">See More</a>
    </div>
  </div>

  <div class="card">
    <img src="https://th.bing.com/th/id/R.4e0173370d7eb31d1579a574564f7855?rik=a70r%2f2ZGgsGrxQ&riu=http%3a%2f%2fimages.clipartpanda.com%2fcollege-clipart-college-university-clipart-1.jpg&ehk=pcXr%2bS6hB7tNphU3gnHBgN%2f5pCZtcTiOD1%2bq5H%2fT8YY%3d&risl=&pid=ImgRaw&r=0" class="card-img-top mx-auto d-block" alt="Description of the image">
    <div class="card-body text-center">
      <h4 class="card-title">College list</h4>
      <p class="card-text">Self Created</p>
      <a href="#" class="btn btn-primary">See More</a>
    </div>
  </div>
</div>
